

.topnav {
	overflow: hidden;
	background-color: rgb(71, 214, 155);
  }
  
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: rgb(25, 105, 0);
  }
  
  .topnav a.active {
	background-color: rgb(2, 66, 2);
	color: white;
  }
  
  h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
    color: #f7f9fb;
  }
    
    h2 {
        font-family: Verdana;
        font-weight: bold;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        color: #f7f9fb;
    }

    
.footer{
    clear:both;
	position: relative;
	bottom: -20px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #8fc1e3;
}   