body {
	background-image: url("background2.jpg");
	background-color: #cccccc;    
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #f7f9fb;
}
#titulo_h3_no_topo {
	font-family: Verdana;
	font-weight: bold;
	padding-bottom: 20px;
	margin-left: 20px;
	color: #f7f9fb;
}	

#navbar {
	margin-top:-16px;
	position:fixed;
	left:50%;
	margin-left:-234px;
}

#header {
	position: relative;
	top:  	15px;
	background-color: #8fc1e3;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

div div ul{
	list-style-type: none;
	position: fixed;
	margin: -10px;
}

div div li {
	display:inline;
	padding:10px;
	border: 1px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	border-radius: 5px 5px;
	background-color: #5085a5
}

#left{
	float:left;
	width: 45%;
	
}

p {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.5em;
	color: #f7f9fb;
}

#right{
	float:right;
	width: 45%;
	
}

table {
	border: #000000 1px solid;
	background-color: #8FC1E3;
	float: middle;
	margin-right: 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

td {
	height: 75px;
	width: 75px;
}

td img {
	height: 75px;
	width: 75px;
	box-shadow: none;
}

th {
	font-family: Verdana;
	font-size: 1em;
	font-weight: normal;
	color: #3c4543
}

#bottom_left{
	border-bottom-left-radius: 15px;
}

#bottom_right{
	border-bottom-right-radius: 15px;
}

#footer{
    clear:both;
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	background-color: #8fc1e3;
}

#button{
	border: 2px solid #000000;
	float:left;
	position: relative;
	left: 660px;
	bottom: -20px;
	border-radius: 5px;
	background-color: #031a5a;
	height: 30px;
	width: 150px;
	
}

#button p{
	position: relative;
	bottom: 10px;
	font-size: 0.8em;
	color: #acd1b2;
	text-align: center;
}

.bold{
	font-family: tahoma;
	font-weight: bold;
	font-size: 1.2em;
	font-variant: small-caps;
	color: #ffffff;
}

li.percent100 {
	width: 90%;
	margin: 10px; 
}
li.percent50 {
	width: 45%;
	margin: 10px;
}
li.percent80 {
	width: 68%;
	margin: 10px;
}
li.percent10 {
	width: 9%;
	margin: 10px;
}
li.percent1 {
	width: 0%;
	margin: 10px;
}
ul.graph
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
	
ul.graph li
{
	margin-bottom: .5em;
	padding: .2em;
	background: #600;
	color: #fff;
}
table {
	width: 50%;
	margin-right: 900px;
}